version: '3.8'
services:
 dev-db:
   image: postgres:13
   environment:
     POSTGRES_USER: devuser
     POSTGRES_PASSWORD: devpassword
     POSTGRES_DB: devdb
   ports:
     - 5432:5432
   volumes:
     - dev-db-data:/var/lib/postgresql/data